.login-container {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-ic-back {
  position: absolute;
  left: 40px;
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
}

.login-ic-back:hover {
  opacity: 1;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
}

.login-head {
  display: flex;
}
.login-head > img {
  width: 70px;
  height: 70px;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px -4px black;
  margin-left: 16px;
}
.login-head > div {
  display: flex;
  flex-direction: column;
  place-content: center;
}
.login-head-name {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
}
.login-head-desc {
  color: #fff;
  font-size: 20px;
  opacity: 0.6;
  margin-top: -2px;
}

.login-form {
  background-color: #fff;
  border-radius: 16px;
  width: 350px;
  place-self: center;
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 24px 16px;
}
.login-form-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #fe6666;
}
.login-form > .ant-input-affix-wrapper {
  margin-top: 16px;
}
.login-form-btn-login {
  width: 300px;
  height: 45px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  color: #fff;
  background: linear-gradient(0deg, #e22a6f 0%, #fe6666 100%);
}
.login-form-btn-login:hover,
.login-form-btn-login:focus,
.login-form-btn-login:active {
  color: #fff;
  border-color: #e22a6f;
  background: linear-gradient(180deg, #e22a6f 0%, #fe6666 100%);
}

.login-form-btn-login > .ant-btn-loading-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}
