.main-layout {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #eee;
}

.content {
  /* padding: 20px 50px; */
  display: flex;
}

.body {
  /* padding: 24px; */
  min-width: 100%;
  direction: rtl;
}
