.modal-giveawaytype > * > .ReactModal__Content {
  background-color: #eee !important;
  border: unset !important;
  border-radius: 24px !important;
  margin: auto;
  padding: 0 !important;
  height: fit-content;
  min-height: 250px;
}

@media (min-width: 850px) {
  .modal-giveawaytype > * > .ReactModal__Content {
    width: 35%;
  }
}

.modal-giveawaytype-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-giveawaytype-container > div:first-child {
  padding: 20px;
  background: linear-gradient(180deg, #e22a6f 0%, #fe6666 80%);
  direction: rtl;
  display: flex;
  place-items: center;
}
.modal-giveawaytype-container > div:last-child {
  padding: 20px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

.modal-giveawaytype-close {
  cursor: pointer;
  position: absolute;
}

.modal-giveawaytype-title {
  margin: auto;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modal-giveawaytype-body {
  margin: auto;
  font-size: 18px;
  font-weight: 00;
  text-align: center;
}

.modal-giveawaytype-btns {
  width: 100%;
  place-content: center;
  display: flex;
  place-items: center;
  margin-top: 16px;
  flex-direction: column;
}

.modal-giveawaytype-btns > button {
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(0deg, #e22a6f 0%, #fe6666 100%);
  width: 30%;
  min-width: 150px;
  height: 40px;
  margin-bottom: 8px;
}
.modal-giveawaytype-btns > button:hover,
.modal-giveawaytype-btns > button:focus,
.modal-giveawaytype-btns > button:active {
  color: #fff;
  border-color: #e22a6f;
  background: linear-gradient(180deg, #e22a6f 0%, #fe6666 100%);
}
.modal-giveawaytype-btns > button > .ant-btn-loading-icon {
  position: absolute;
  right: 4px;
  top: 8px;
}
